h1 {
  color: white;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;
}

#container {
  height: 150vh;
  width: 90%;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: center;
}

#models {
  width: 60%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.ads {
  width: 15%;
  background-color: lightgray;
}
#models .models img {
  width: 500px;
}
#models .models {
  border: 3px solid darkblue;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
